//  기본 색상 --------------------------------------------------------- /

// drawtome theme

$white: #ffffff;
$black: #101010;
$bg:#f9f7f7;
$navy: #282c37;
$lightwhite: #d9e1e8;
$lightblue: #9caec7;
$drawblue: #3291d6;
