@use './../utils' as *;

.main-container{
  max-width: rem(1200px);
  margin: 0 auto;
  padding: rem(30px);
  padding-top: rem(95px);
  @include mobile{
    padding-top: rem(155px);
  }
  .image-container{
    position: sticky;
    overflow: hidden;
    @include desktop{
      padding-right: rem(30px);
      float: left;
      top: rem(110px);
      width: 45%;
    }

    img{
      width: 100%;
    }
  }

  .detail-container{
    padding: rem(15px);
    @include desktop{
      padding-left: rem(30px);
      float: right;
      border-left: 1px solid rgba($color: #000000, $alpha: .3);
      width: 55%;
    }
    @include mobile{
      margin-left: rem(5px);
      margin-right: rem(5px);
    }

    .detail{
      font-weight: 400;
      &--brand{
        display: inline-block;
        font-size: rem(20px);
        margin-top: rem(10px);
        margin-bottom: rem(10px);
        line-height: rem(40px);
        border: 2px solid $navy;
        padding-left: rem(10px);
        padding-right: rem(10px);
        border-radius: rem(10px);
        
        @include mobile{
          font-size: rem(12px);
          border-radius: rem(5px);
          line-height: rem(20px);
          border-width: rem(1px);
          margin-top: rem(10px);
          margin-bottom: rem(10px);
          @media (min-width: 500px){
            font-size: rem(15px);
            line-height: rem(30px);
          }
        }
        &::before{
          content: "";
          margin-right: rem(10px);
          vertical-align: bottom;
          display: inline-block;
          background: url('./../assets/images/nike.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 40px;
          height: 40px;
          @include mobile{
            margin-right: rem(3px);
            width: 20px;
            height: 20px;
            @media (min-width: 500px){
              margin-right: rem(5px);
              width: 30px;
              height: 30px;
            
            }
          }
        }
      }
      &--shoesname__en{
        display: block;
        font-size: 3vw;
        font-weight: 700;
        padding-top: rem(10px);
        padding-bottom: rem(10px);
        @include mobile{
          font-size: 7vw;
        }
      }
      &--shoesname__ko{
        display: block;
        font-size: 2vw;
        padding-bottom: rem(10px);
        @include mobile{
          font-size: 4vw;
        }
      }
      &--description{
        display: block;
        font-weight: 300;
        line-height: 1.5;
        font-size: rem(16px);
        color: rgba($navy , $alpha: .8);
        padding-left: rem(15px);
        border-left: 3px solid rgba($navy, $alpha: .6);
        margin-top: rem(50px);
        margin-bottom: rem(40px);
        padding-top: rem(7px);
        padding-bottom: rem(7px);
        @include mobile{
          font-size: 3vw;
          padding-top: rem(15px);
          padding-bottom: rem(15px);
        }
        @media (min-width: 1000px){
          font-size: 1.5vw;
        }
        @media (min-width: 1300px){
          font-size: rem(20px);
        }
      }
      &--release, &--style, &--price{
        opacity: 0.8;
        font-size: 2.5vw;
        padding-top: rem(30px);
        padding-bottom: rem(10px);
        display: flex;
        border-bottom: 1px solid rgba($navy , $alpha: .7);
        @media (min-width: 1000px){
          font-size: rem(20px);
        }
      }

      &--release{
        &::before{
          content: "Release";
          flex-grow: 1;
        }
      }
      &--style{
        &::before{
          content: "Style Number";
          flex-grow: 1;
        }
      }
      &--price{
        &::before{
          content: "Price";
          flex-grow: 1;
        }
        &::after{
          content: "Ïõê";
        }
      }
    }
  }
  .apply{
    width: 100%;
    border: 2px solid $navy;
    padding: rem(15px);
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    border-radius: rem(10px);

    &--list{
      padding-top: rem(10px);
      padding-bottom: rem(10px);
      line-height: rem(30px);
      font-size: rem(18px);
      border-bottom: 1px solid rgba($navy, $alpha: .2);
      @include mobile{
        line-height: rem(25px);
        font-size: rem(12px);

      }
      &::before{
        content: "";
        margin-right: rem(10px);
        vertical-align: bottom;
        display: inline-block;
        background: url('./../assets/images/nike.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 30px 30px;
        width: 40px;
        height: 30px;
        @include mobile{
          width: 30px;
          height: 25px;
          background-size: 20px 20px;
          margin-right: 0;

        }
      }
      a{
        float: right;
      }
    }
  }
  @include desktop{
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
}
.pick{
  width: 100%;
  margin-top: rem(40px);
  margin-bottom: rem(30px);
}
.btn{
  background-color: $navy;
  color: $bg;
  border-radius: rem(10px);
  appearance: none;
  height: rem(50px);
  transition: all .5s;
  box-sizing: border-box;
  border: 2px solid $navy;
  &:hover{
    box-sizing: border-box;
    background-color: $bg;
    border: 2px solid $navy;
    color: $navy;
  }
}
.apply--btn{
  line-height: 30px;
  box-sizing: border-box;
  font-size: rem(14px);
  height: rem(30px);
  padding-left: rem(10px);
  padding-right: rem(10px);
  @include mobile{
    line-height: 25px;
    font-size: rem(10px);
    height: rem(25px);
  }
}




.detail{
  &-wraper{
    overflow: hidden;
    width: 100%;
    position: relative;
    .swiper-prev{
      left: rem(10px);
    }
    .swiper-next{
      right: rem(10px);
    }
  }
  &-swiper-container{
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% * 5);
  }
  &-swiper{
    width: 100%;
  }
  
}
