@use './../utils' as *;

.main-container{
  max-width: rem(1200px);
  margin: 0 auto;
  // background-color: $bg;
  padding-top:rem(110px);
  padding-bottom:rem(30px);
  padding-left:rem(30px);
  padding-right:rem(30px);

  .image-container{
    // background-color: blue;
    float: left;
    position: sticky;
    top: rem(110px);
    width: 45%;
    
    @include desktop{
      padding-right: rem(30px);
    }

    img{
      width: 100%;
    }
  }

  .detail-container{
    height: 1000px;
    padding: rem(15px);
    padding-left: rem(30px);
    float: right;
    border-left: 1px solid rgba($color: #000000, $alpha: .3);
    width: 55%;

    // background-color: aqua;
    .detail{
      font-weight: 300;
      &--brand{
        display: inline-block;
        font-size: rem(20px);
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        line-height: rem(40px);
        border: 2px solid $navy;
        padding-left: rem(10px);
        padding-right: rem(10px);
        border-radius: 10px;
        
        &::before{
          // content: url('./../assets/images/nike.png');
          content: "";
          margin-right: rem(10px);
          vertical-align: bottom;
          display: inline-block;
          background: url('./../assets/images/nike.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 40px;
          height: 40px;

        }
      }
      &--shoesname__en{
        display: block;
        font-size: 3vw;
        font-weight: 500;
        padding-top: rem(10px);
        padding-bottom: rem(10px);
      }
      &--shoesname__ko{
        display: block;
        font-size: 2.5vw;
        font-weight: 300;
        padding-bottom: rem(50px);
      }
      &--release{
        font-size: 2vw;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        display: flex;

        &::before{
          content: "Release:";
          flex-grow: 1;
        }
      }
      &--price{
        font-size: 2vw;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        display: flex;
        
        &::before{
          content: "Price:";
          flex-grow: 1;
        }
        &::after{
          content: "원";
        }
      }
    }
  }
  .apply{
    width: 100%;
    border: 2px solid $navy;
    padding: rem(15px);

    &--list{
      padding-top: rem(10px);
      padding-bottom: rem(10px);
      line-height: rem(40px);
      font-size: rem(18px);
      &::before{
        content: "";
        // padding: rem(10px);
        border: 2px solid $navy;
        border-radius: rem(5px);
        margin-right: rem(10px);
        vertical-align: bottom;
        display: inline-block;
        background: url('./../assets/images/nike.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 30px 30px;
        width: 40px;
        height: 40px;
      }
      a{
        float: right;
      }
    }
  }
  @include desktop{
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
}
.pick{
  width: 100%;
  margin-top: rem(20px);
  margin-bottom: rem(20px);
}
.btn{
  background-color: $navy;
  color: $bg;
  border-radius: rem(10px);
  appearance: none;
  height: rem(50px);
  transition: all .5s;
  box-sizing: border-box;
  border: 2px solid $navy;
  &:hover{
    box-sizing: border-box;
    background-color: $bg;
    border: 2px solid $navy;
    color: $navy;
  }
}
.apply--btn{
  box-sizing: border-box;
  font-size: rem(16px);
  height: rem(40px);
  padding-left: rem(10px);
  padding-right: rem(10px);
}