@use './../utils' as *;

// draw 블록
.draw {
	position: relative;
	@include desktop {
		margin: 0 rem(30px);
	}

	@include mobile {
		margin: 0 rem(20px);
		display: block;
	}

	&__title {
		display: inline-block;
		width: 100%;
		@include desktop {
			padding: rem(60px) rem(20px) rem(40px) 0;
			@include fontSB($size: rem(40px), $bold: 700);
		}
		@include mobile {
			@include fontSB($size: rem(30px), $bold: 700);
			padding: rem(60px) rem(20px) rem(20px) 0;
		}
	}

	&__button {
		@include border;
		@include position($right: 0, $top: rem(60px));
		border-radius: rem(3px);
		width: rem(50px);
		height: rem(50px);
		@include mobile {
			display: none;
		}
		&.is-active {
			background-color: black;
			color: white;
		}
	}
	&__button:hover {
		@include border($color: white);
		color: white;
		background: black;
		transition: all 0.2s ease-in-out;
	}

	&__list {
		@include mobile {
			@include gridbox($column-count: 1);
		}
		@include desktop {
			@include gridbox();
			&.is-active {
				@include gridbox($column-count: 3);
			}
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		@include mobile {
			img {
				width: 100%;
				height: 100%;
			}
		}
		@include desktop {
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__figcaption {
		em {
			display: block;
			font-weight: 700;
			font-size: 2.4rem;
			@include marginY(20px);
			@include mobile {
				font-size: 1.4rem;
				margin-top: rem(30px);
				margin-bottom: rem(10px);
			}
		}
		p {
			display: inline-block;
			font-size: 2rem;
			margin-bottom: rem(150px);
			@include mobile {
				font-size: 1.2rem;
				margin-bottom: rem(100px);
			}
		}
	}

	&__detail {
		display: none;
	}

	&__link:hover &__detail {
		display: block;
		background-color: rgba($color: $black, $alpha: 0.6);
		width: 100%;
		height: 100%;
		@include paddingY(50px);
		@include paddingX(10px);
		position: absolute;
		top: 0;
		color: white;
		font-size: 1.4rem;
		@include mobile {
			font-size: 1.2rem;
			@include paddingY(70px);
		}

		.detail-list {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			li {
				display: inline-block;
				@include marginY(50px);
				@include mobile {
					@include marginY(30px);
				}
			}
			li:nth-child(n + 2)::before {
				content: '\007C';
				@include marginX(20px);
				@include mobile {
					@include marginX(10px);
				}
			}
		}
	}
}
