@use './../utils' as *;

main{
  // padding-top: rem(100px);
  background-color: red;
  max-width: rem(1200px);
  margin: 0 auto;
  @include mobile{
    padding-top: rem(146px);
  }
}

// 비디오 첫페이지
.video{
  &__iframe{
    z-index: 100;
    position: absolute;
    object-fit: cover;
    position: absolute;
    width: 100vw;
    height:100vh;
    top: 0;
    left:50%;
    transform:translateX(-50%);
  }
  &-words, &-scroll{
    position: absolute;
    color: $white;
    z-index: 1;
  }
  &-scroll{
    background-color: black;
    right:rem(20px);
    bottom: rem(20px);
    font-size: rem(25px);
  }
  &-words{
    font-size: rem(120px);
    text-shadow: 2px 1px 10px $navy;
    bottom: 40%;
    letter-spacing: rem(-10px);
    &--bold{
      font-weight: 700;
      @include marginY(20px);
    }
    @include mobile{
      font-size: rem(60px);
      left:5%;
    }
  }
}




// 베스트 드로우
.best{
  position: relative;
  margin-bottom: 1000px;
  margin-top: calc(100vh + 100px);
  width: 100%;
  // height: 500px;
  background-color: aquamarine;
  overflow: hidden;

  &-swiper-container{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: calc(100% * 3);
    transition: 1s;
  }

  &-swiper{
    width: 100%;
    // height:100%;
  }
  
  img{
    display: block;
    height: 40vh;
    width: 100%;
  }
}
.swiper-prev, 
.swiper-next{
  appearance: none;
  border: 2px solid $navy;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-prev:hover, 
.swiper-next:hover{
  background-color: $lightwhite;
}
.swiper-next{
  right: 0;
}

// .swiper-pagination{
//   vertical-align: middle;
//   text-align: center;
//   input{
//     display: none;
//     &:checked{}
//   }
//   label{
//     display: inline-block;
//     width: rem(10px);
//     height: rem(10px);
//     border: 2px solid #666;
//     background: #fff;
//     transition: 0.3s;
//     border-radius: 50%;
//     cursor: pointer;
//     margin: 0 rem(5px);

//   }
// }

