@use './../utils/' as *;

.search {
	height: rem(50px);
	&-form {
		height: 100%;
	}

	&__input {
		outline: 0;
		text-indent: rem(10px);
		padding-right: rem(50px);
		width: rem(600px);
		height: rem(50px);
		@include mobile {
			width: 100%;
		}
	}

	&-btn {
		background-color: transparent;
		background-image: url('./../assets/images/icon_sprites.png');
		background-size: cover;
		height: rem(20px);
		width: rem(20px);
		position: absolute;
		right: 2%;
	}

	fieldset {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		top: rem(120px);
	}
}
