@use './../utils' as *;


.footer{
    // height:rem(140px);
    background-color:$navy;
    color: $lightblue;
    padding-top:rem(10px);
    &__icon{
        display: flex;
        // margin-left: rem(5px);
        li{
            margin: rem(5px) rem(8px);
            width: rem(35px);
            @include desktop{
                width: rem(40px);
            }
        }
        @include desktop{
            margin-left: rem(15px);
        }
    }
    &__info{
        text-align: left;
        font-size: rem(14px);
        line-height: rem(24px);
        padding-bottom: rem(20px);
        small{
            display: block;
        }
        span{
            font-weight: 700;
        }
        @include mobile{
            margin-left:5%;
        }
        @include desktop{
            text-align: center;
            margin-top: rem(5px);
            // margin-bottom: rem(20px);
            padding-bottom: rem(20px);
        }
    }
}
// sns-icon 전체적인 height 조절

.sns-icon{
    img{
        box-sizing: content-box;
        padding: rem(8px);
        @include marginX(3px);
        width: 100%;
        object-fit: cover;
        @include mobile{
            width: rem(30px);
            height:auto;
        }
    }
}
