@use './../utils/' as *;

header{
  // visibility: hidden;
  background-color: $white;
  width: 100%;
  position: fixed;
  height: rem(100px);
  border-bottom: 1px solid $navy;
}
.header-container{
  white-space: nowrap;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: rem(1200px);
  left: 50%;
  transform: translateX(-50%);
}
// 1. 로고
.logo{
  color: $navy;
  font-size: rem(35px);
  letter-spacing: rem(-5px);
  font-family: 'IBM Plex Sans KR', sans-serif;
  @include mobile{
    margin: 0 auto;
  }
  @include desktop{
    // white-space: nowrap;
    padding: rem(24px);
  }

  &__bold{
    font-weight: 700;
  }
}


  
  // 2. 네비게이션
.navigation{
  flex-grow: 1;
  &-list{
    display: flex;
    
    li{
      background:yellow;
      padding: rem(15px);
      // width: 8em;
      text-align: center;
    }
  }
  @include mobile{
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    height: rem(46px);
    background-color: $navy;
    color: $bg;
    li{
      flex-grow: 1;
    }
  }
  @include desktop{
    font-size:rem(20px);
    margin-left: 5%;
  }
}

.member{
  order: 1;
  margin-right: rem(30px);
  padding: rem(10px);

  &-login{
    margin-right: rem(5px);
  }
  &-signup{
    margin-left: rem(5px);
  }
  @include mobile{
    position: absolute;
    top: rem(5px);
    right: rem(5px);
    font-size: rem(12px);

  }
}